 <title>Corit.solutions</title>
<div class="container">
        <link rel="stylesheet" href="/css/contact.css">
  <div style="text-align:center">
    <h2>Contact form</h2>
    <p>ask us any question</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="/img/bg-01.jpg" style="width:105%">
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">First name</label>
        <input type="text" id="fname" name="firstname" placeholder="First name.." required>
        <label for="lname">Last name</label>
        <input type="text" id="lname" name="lastname" placeholder="Last name.." required>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email.." required=>
        <br>
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Your message.." style="height:170px"></textarea>
        <input type="submit" value="Submit">
        <p align="right">
       <div class="terug">
          <input type="button" value="Terug" onclick="history.back()">
      </div>
        </form>
        </div>
      </form>
    </div>
  </div>
</div> 