
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 400px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    box-shadow: 5px 6px 60px 10px white;
    border-radius: 10px;;
}
.form h1{
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(/img/slide03.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;

}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a {
    background-color: #fff;
    color: #000;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #f2f2f2;
    letter-spacing: 2px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 8px;
    outline: none;
    background: transparent;
}
.btn-confirm{
    background-color:ghostwhite;
    opacity: 0.6;
    color: black;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    transition: 0.6s ease;

}

